asgiref==3.4.1
Authlib==0.15.5
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
Django==4.0.1
django-guardian==2.4.0
django-rest-framework==0.1.0
djangorestframework==3.13.1
idna==3.3
pycparser==2.21
pytz==2021.3
requests==2.27.1
simple-salesforce==1.11.4
sqlparse==0.4.2
urllib3==1.26.8
